<section class="about">
    <div class="content">
        <div class="about__title">
            <h2 class="title">
                About
            </h2>
        </div>

        <div class="card-row">
            <div class="card">
                <div class="about-icon">
                    <span class="material-icons">
                        account_circle
                    </span>
                </div>
                <div class="info">
                    <h3>Authentication</h3>
                    <span>Make an account</span>
                </div>
            </div>


            <div class="card">
                <div class="about-icon">
                    <span class="material-icons">
                        notes
                    </span>
                </div>
                <div class="info">
                    <h3>CRUD</h3>
                    <span>Make a Note</span>
                </div>
            </div>


            <div class="card">
                <div class="about-icon">
                    <span class="material-icons">
                        lock
                    </span>
                </div>
                <div class="info">
                    <h3>Security</h3>
                    <span>Entire secure app</span>
                </div>
            </div>
        </div>
</section>