{{!-- home --}}
<section id="home" class="home">
    <div class="home__content">
        <div class="home__index">
            {{!-- greeting and logo --}}
            <span>
                Hello!
            </span>
            <h1>
                JssCrud
            </h1>
            {{!-- write effect --}}
            <div class='console'>
                <span id='des-text'></span>
                <div class='console-line' id='line'>|</div>
            </div>
            {{!-- sign-log user buttons --}}
            <div class="btn">
                <a href="/" class="sign-log">Log in</a>
                <a href="/" class="sign-log des-links">Sign up</a>
            </div>
        </div>
    </div>
</section>