<section>
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi officiis
    nostrum debitis a minus fugit assumenda aspernatur quas ducimus repellat
    totam, aliquam quisquam amet ex laudantium facilis cupiditate voluptates
    sit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi fuga
    laboriosam vel atque maxime architecto accusamus recusandae nobis optio
    exercitationem quia ut culpa minus, sit, nemo ab autem beatae perspiciatis?
  </h1>
</section>