<header id="">
  <div class="" id="">
    <img src="" alt="" />
  </div>

  <a href="" class=""></a>
</header>

<section>
  <h1>Hi</h1>
</section>

<footer class="" id="">
  <span class="">WMYM</span>
  <a href="" target="_blank">JssCrud</a>
</footer>