/*------------------------------------GENERAL STYLE------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}
body {
  background: #141414;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*  -----------------------------------ANIMATIONS------------------------------ */
.hidden {
  opacity: 0;
}
.console {
  text-align: left;
  height: 10vh;
  width: 640px;
  display: block;
}
.console #des-text {
  font-size: 3em;
}
#line {
  bottom: 5px;
  font-size: 2em;
  display: inline-block;
  position: relative;
  left: -6px;
}
/*------------------------------------NAV BAR------------------------------------*/
header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 8%;
  display: flex;
  align-items: center;
  background: #141414;
  justify-content: space-between;
  transition: 0.8s ease;
  border-bottom: 3px #1c1c24 solid;
  border-radius: 0 0 8px 8px;
}
.navbar__logo {
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.navbar__links {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 2rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  background: transparent;
  text-align: center;
  opacity: 0.8;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}
.navbar__links a:hover {
  cursor: pointer;
  color: #0cbcfc;
}
.des-links {
  margin-left: 35px;
}
.ham-menu {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: center;
  text-align: center;
}
/* -----------------------------------HOME----------------------------------- */
.home {
  padding: 0px 100px;
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/svg/bg.svg");
}
.home__content span {
  font-size: 2.8em;
  font-weight: 700;
}
.home__content h1 {
  font-size: 5em;
  font-weight: 500;
}
.home .home__content {
  max-width: 80%;
  max-height: 80%;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home .home__content .home__index {
  position: relative;
  width: 80%;
}
.btn {
  margin-top: 40px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  display: flex;
}
.sign-log {
  justify-content: flex-start;
  padding: 8px 15px;
  margin-top: 10px;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  border: 3px #0cbcfc solid;
  border-radius: 8px;
}
.sign-log:hover {
  color: #85cc2d;
  border-color: #85cc2d;
}
/* -----------------------------------ABOUT----------------------------------- */
.about {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/svg/bg.svg");
}
.about .about__title {
  font-size: 2em;
}
.about .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 200px;
}
.about .about__title {
  width: 100%;
  text-align: center;
}
.about .content .card-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.about .content .card-row .card {
  display: flex;
  justify-content: center;
  width: 220px;
  margin: 5px;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid #0cbcfc;
  transition: transform 0.8s ease;
}
.about .content .card-row .card .about-icon span {
  text-align: center;
  align-items: center;
  font-size: 3.5em;
  color: #0cbcfc;
  transition: transform 0.8s ease;
}
.about .content .card-row .card:hover .about-icon span {
  transform: translateY(-10px);
}
.about .content .card-row .card .info h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
  text-align: center;
  justify-content: center;
  color: #85cc2d;
}
.about .content .card-row .card .info {
  justify-content: center;
  text-align: center;
  align-items: center;
}
/* -----------------------------------FOOTER----------------------------------- */
.footer {
  max-width: 100vw;
  max-height: 10vh;
  background: #141414;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-top: 3px #1c1c24 solid;
  border-radius: 8px 8px 0 0;
}
.footer-title {
  font-size: 0.8em;
  font-weight: bold;
  color: #0cbcfc;
  animation: change-text-color 12s infinite;
}
/* -----------------------------------NOTE FORM----------------------------------- */
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  height: 100vh;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/img/svg/bg.svg");
}
.form {
  width: 500px;
  margin: 16px auto;
  font-size: 16px;
}
.form-header,
.form p {
  margin-top: 0;
  margin-bottom: 0;
}
.form-header {
  border-radius: 8px 8px 0 0;
  background-color: #0cbcfc;
  padding: 20px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}
.form-container {
  background: #1c1c24;
  opacity: 0.8;
  padding: 12px;
  border-radius: 0 0 8px 8px;
}
.form p {
  padding: 12px;
}
.form input {
  display: block;
  width: 100%;
  border-width: 3px;
  padding: 16px;
  font-size: 0.95em;
  background: #1c1c24;
  border-color: #bbb;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline: none;
}
.form input:focus {
  border-color: #0cbcfc;
}
.form input[type="submit"] {
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #0cbcfc;
  border: 3px #0cbcfc solid;
  border-radius: 8px;
  width: 100%;
}
.form input[type="submit"]:hover {
  color: #85cc2d;
  border-color: #85cc2d;
}
.form input[type="submit"]:focus {
  color: #85cc2d;
  border-color: #85cc2d;
}
/*-----------------------------------READ ALL NOTES-----------------------------------*/
.gallery-container {
  display: flex;
  flex-direction: column;
  margin-top: 13vh;
  width: 100%;
  min-height: 100vh;
}
.gallery {
  margin: 10%;
  max-width: 100vw;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
}
.note {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #1c1c24;
  opacity: 0.8;
  border-radius: 8px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.note:hover {
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
}
.note-title {
  border-radius: 8px 8px 0 0;
  background-color: #0cbcfc;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
}
.note-description {
  margin: 10px 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  font-size: 1em;
}
.button-container {
  position: absolute;
  bottom: 0;
  height: 15%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  border-top: 3px #0cbcfc solid;
}
.edit-delete {
  text-align: center;
  justify-content: space-between;
  padding: 5px 10px;
  font-weight: bold;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border: 3px #0cbcfc solid;
  border-radius: 8px;
}
.edit:hover {
  border-color: #85cc2d;
  color: #85cc2d;
}
.delete:hover {
  border-color: #e3595d;
  color: #e3595d;
}
.successMssg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15vh auto 0;
  width: 50%;
  border: 3px #85cc2d solid;
  border-radius: 8px;
  opacity: 0.45;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.successMssg span {
  color: #85cc2d;
}
.successMssg span:hover {
  cursor: pointer;
}
.errorMssg {
  border: 3px #e3595d solid;
}
.errorMssg span {
  color: #e3595d;
}
.errorMssg span:hover {
  cursor: pointer;
}

/*-----------------------------------RESPONSIVE-----------------------------------*/
@media (max-width: 1005px) {
  header {
    padding: 12px 20px;
  }
  .home {
    padding: 0;
    padding-left: 35px;
    background-position: center;
    background-position-y: bottom;
  }
  section {
    padding: 40px 10px;
  }
  .home .home__content h1 {
    font-size: 3em;
  }
  .console {
    text-align: left;
    height: 10vh;
    width: 100%;
    display: block;
  }
  .console #des-text {
    width: 100%;
    font-size: 1.65em;
  }
  #line {
    bottom: 5px;
    font-size: 1.65em;
    display: inline-block;
    position: relative;
    left: -5px;
  }
  .home .home__content {
    flex-direction: column;
  }
  .home .home__content .home__index {
    margin-top: 20px;
  }
  .home .home__content .home__index .btn {
    margin-top: 40px;
  }
  .about {
    height: 100%;
    padding: 80px;
    margin-top: 100px;
    background-position-y: bottom;
  }
}
@media (max-width: 625px) {
  .navbar__links {
    display: none;
  }
  .navbar__links.active {
    display: inline;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.8s ease;
    background: #141414;
    border-left: 3px #1c1c24 solid;
    border-radius: 8px 0 0 8px;
  }
  .navbar__links.active a {
    font-size: 1.2em;
    font-weight: 500;
    margin: 20px;
    padding: 5px 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    color: #0cbcfc;
    border: 3px #0cbcfc solid;
    border-radius: 8px;
  }
  .navbar__links.active a:hover {
    color: #e3595d;
    border-color: #e3595d;
  }

  .ham-menu {
    display: flex;
    justify-content: flex-end;
  }
  .ham-menu:hover {
    cursor: pointer;
  }
  .ham-menu span {
    position: absolute;
    transition: 0.8 ease;
    display: block;
    z-index: 999;
  }
  #ham-icon {
    transition: 0.8 ease;
  }
  .ham-menu .active {
    position: absolute;
    display: block;
    z-index: 999;
  }
}
@media (max-width: 305px) {
  .home .home__content .home__index .btn {
    font-size: 0.5em;
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .sign-log {
    justify-content: space-between;
    font-size: 1em;
  }
}
@media (max-width: 1020px) {
  .home .home__content .home__index {
    margin-top: 60px;
  }
}
