<header id="navbar">
  <div class="usual">
    <a href="/" class="navbar__logo">JssCrud</a>
    <a href="#" class="links des-links">Home</a>
    <a href="#" class="links des-links">About</a>
  </div>

  <div class="ham-menu" id="ham-menu">
    <span class="material-icons" id="ham-icon">
      menu
    </span>
  </div>

  <div class="navbar__links">
    <a class="links sign-log" href="#">Log in</a>
    <a class="links sign-log" href="#">Sign Up</a>
  </div>
</header>