<div class="gallery-container">
    <div class="gallery">
        {{#each NOTES}}
        <div class="note">
            <h6 class="note-title">
                {{this.title}}
            </h6>
            <p class="note-description">
                {{this.description}}
            </p>
            <div class="button-container">
                <a href="/notes/edit/{{_id}}" id="edit-note" class="edit-delete edit">
                    Update
                </a>
                <form action="/notes/delete/{{_id}}?_method=delete" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" id="delete-note" class="edit-delete delete" value="delete">
                    </input>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>