<section class="container-notes">
    <div class="notes-container">
        {{#each allNotes}}
        <div class="note">
            <h6 class="note-title">
                fasdfadfadfaf
            </h6>
            <p class="note-description">
                asdfasdfasdf
            </p>
            <button class="edit-note">
            </button>
            <button class="delete-note">
            </button>
        </div>
        {{/each}}
    </div>
</section>