<div class="gallery">
    {{#each allNotes}}
    <div class="note">
        <h6 class="note-title">
            {{title}} TITULO
        </h6>
        <p class="note-description">
            {{description}} DESCRIPTION
        </p>
        <div class="button-container">
            <button id="edit-note" class="edit-delete edit">
                Update
            </button>
            <button id="delete-note" class="edit-delete delete">
                Delete
            </button>
        </div>
    </div>
    {{/each}}
</div>