<seection class="container">
    <div class="row">
        {{#each allNotes}}
        <div class="col">
            <div class="note">
                <h6 class="note-title">
                    {{allNotes.title}}
                </h6>
                <p class="note-description">
                    {{allNotes.description}}
                </p>
                <button class="edit-note">
                </button>
                <button class="delete-note">
                </button>
            </div>
        </div>
        {{/each}}
    </div>
</seection>