<section class="container">
    <div class="form">

        <h2 class="form-header">Updating Note</h2>

        <form class="form-container" action="/notes" method="post">
            <p><input type="text" placeholder="Note Title" name="title" maxlength="30" autofocus></p>
            <p><input type="text" placeholder="Description" name="description" maxlength="220"></p>
            <p><input type="submit" placeholder="Create" value="Create"></p>
        </form>
    </div>
</section>