<section class="container">
    <div class="form">
        {{!-- form card title --}}
        <h2 class="form-header">Sign Up</h2>
        <form class="form-container" action="/users/signup" method="post">
            {{!-- name --}}
            <p>
                <input type="text" placeholder="Name" name="name" maxlength="30" autofocus>
            </p>
            {{!-- email --}}
            <p>
                <input type="email" placeholder="E-mail" name="email">
            </p>
            {{!-- password --}}
            <p>
                <input type="password" placeholder="Password" name="password">
            </p>
            {{!-- confirm password --}}
            <p>
                <input type="password" placeholder="Confirm Password" name="confirmPassword">
            </p>
            {{!-- send button --}}
            <p>
                <input type="submit" value="Sign Up">
            </p>
        </form>
    </div>
</section>